[Desktop Entry]
Encoding=UTF-8
Name=Enlace a  Vida del Titanosaurio en Ark
Type=Link
URL=https://gemini.google.com/app/447dbb15ff0a5084?pageId=none
Icon=text-html
